/* utilities */
.z-1 {
    z-index: 10;
}
.z-2 {
    z-index: 20;
}
.z-3 {
    z-index: 30;
}
.z-4 {
    z-index: 40;
}
.z-5 {
    z-index: 50;
}
.h-full {
    height: 100% !important;
}
.center-x-y {
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    position: absolute;
}
.center-x {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.text-title {
    font-weight: 500 !important;
    font-size: 45px !important;
}
.text-gray-400 {
    color: rgb(156 163 175);
}
.text-gray-500 {
    color: rgb(107 114 128);
}
.text-gray-600 {
    color: rgb(75 85 99);
}
.text-gray-700 {
    color: rgb(55 65 81);
}
.text-gray-800 {
    color: rgb(31 41 55);
}
.text-gray-900 {
    color: rgb(17 24 39);
}

.text-afsi2 {
    color: #1c9fa7;
}
.text-salmon {
    color: #ffbc96 !important;
}
.btn-outline-afsi {
    color: #54a8c7;
    border-color: #1c9da6;
}
.btn-outline-afsi:hover {
    color: #fff;
    background-color: #1c9da6;
    border-color: #1c9da6;
}
.border-right-1 {
    border-right: 1px solid #acacac;
}
.mb-200 {
    margin-bottom: 200px !important;
}
.mt-200 {
    margin-top: 200px !important;
}
.mt-100 {
    margin-top: 100px !important;
}
.-t-100 {
    top: -100px !important;
}
.pb-150 {
    padding-bottom: 150px !important;
}
.lh-21 {
    line-height: 21px !important;
}
.fw-300 {
    font-weight: 300 !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-700 {
    font-weight: 700 !important;
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-5xl {
    font-size: 3rem;
    line-height: 1;
}
.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}
.text-7xl {
    font-size: 4.5rem;
    line-height: 1;
}
.text-8xl {
    font-size: 6rem;
    line-height: 1;
}
/* height width */
.overlay-login {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(180deg, #20afab 0%, #20af84 100%);
    z-index: 10;
    opacity: 0.5;
}
.text-login-overlay {
    position: absolute;
    z-index: 50;
}
/* color */
.afsi {
    color: #0e6095;
}
.text-afsi2 {
    color: #20afab;
}
.bg-gradient-purple {
    background: linear-gradient(180deg, #847afb 0%, #5a27ee 100%);
}
.bg-gradient-aqua {
    background: linear-gradient(180deg, #69ece8 0%, #20afab 100%);
}
.bg-gradient-orange {
    background: linear-gradient(180deg, #ffd583 0%, #e95454 100%);
}
/* login */

/* navbar */
.btn-afsi {
    color: white;
    background-color: #1c9da6 !important;
}
.btn-afsi:hover {
    color: #ececec;
    background-color: rgba(65, 172, 182, 0.992) !important;
}
.text-afsi {
    color: #0e6095 !important;
}
.border-none {
    border: none;
    outline: none;
}

/* home */
.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue;
}

/* workshop */
.card-workshop {
    max-width: 16rem;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.card-workshop .overlay-workshop {
    max-height: 50%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    bottom: 0;
    background: linear-gradient(
        181.99deg,
        #040035 -10.7%,
        rgba(196, 196, 196, 0) 244.45%
    );
    box-sizing: border-box;
    /* min-width: 50%; */
}
